<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Project_data
        version_major="2"
        version_minor="0"
        version_mode="RELEASE"
        URL="https://github.com/JonMS95/C_Arg_Parse"
        type="library"
        language="C"
        library_name="GetOptions"
    />
    <!-- Directory structure -->
    <Directories>
        <lib/>
        <API/>
        <deps>
            <inc/>
            <lib/>
        </deps>
        <test>
            <deps>
                <lib/>
                <inc/>
            </deps>
            <exe/>
        </test>
    </Directories>
    
    <!-- Common shell files location -->
    <Common_shell_files
        version_major="1"
        version_minor="3"
        version_mode="RELEASE"
        local_path="~/C_Common_shell_files"
        URL="https://github.com/JonMS95/C_Common_shell_files"
    />
    
    <!-- Dependencies -->
    <!-- Paths to dependencies from other projects. -->
    <deps Dest="deps">
        <C_Severity_Log
            version_major="2"
            version_minor="0"
            version_mode="RELEASE"
            local_path="~/C_Severity_Log"
            URL="https://github.com/JonMS95/C_Severity_Log"
        />
    </deps>
    
    <!-- Tests -->
    <!-- Paths to dependency files for the testing executable. -->
    <test>
        <deps Dest="test/deps">
            <C_Severity_Log
                version_major="2"
                version_minor="0"
                version_mode="RELEASE"
                local_path="~/C_Severity_Log"
                URL="https://github.com/JonMS95/C_Severity_Log"
            />
            <C_Arg_Parse
                version_major="2"
                version_minor="0"
                version_mode="RELEASE"
                local_path="."
                URL="https://github.com/JonMS95/C_Arg_Parse"
            />
        </deps>
    </test>
</config>
